.box {
    box-sizing: border-box;
    margin: 0% 2.3% 2.3%;
    height: 100%;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.01);
    padding: 2% 3% 1.5% 1.6%;
}

.box h1 {
    font-size: 2.4vmax;
}

.search-box {
    margin-top: 2.2%;
    margin-bottom: 2.8%;
    border: 0;
}

.search-box .search-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px 5px 5px 3px;
}

.search-box .search-container input {
    width: 8vmax;
    flex:1;
    outline: none;
    border: 0;
    font-size: 2.2vmax;
}

.search-box .chip-box {
    margin-left: 0.6vmax;
    width: 86%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.search-box .chip-box .chip {
    margin: 0.7% 0.3%;
    padding: 0.1%;
    border-radius: 5px;
    background-color: #d7dcfe;
    color: rgb(34, 52, 188);
    min-width: max-content;
    font-size: 2vmax;
    display: flex;
    align-items: center;
    cursor: default;
}

.search-box .chip-box .chip .chip-text {
    margin: 0.3vmax;
    font-size: 1.5vmax;
}

.search-box .chip-box .chip .chip-delete {
    margin-top: 0.3vmax;
    margin-left: 0.2vmax;
    margin-right: 0.5vmax;
    font-size: 1.5vmax;
    cursor: pointer;
}

.search-box input::placeholder {
    color: #aaa;
    font-weight: 500;
    font-size: 1.85vmax;
}

.search-box button {
    width: 14%;
    min-width: 75px;
    padding: 1.5% 0%;
    font-weight: 600;
    outline: none;
    border: 0;
    border-radius: 0px 5px 5px 0px;
    background-color: #1d31a1;
    color: #fff;
    font-size: 1.4vmax;
    cursor: pointer;
}